version: v1.11.0.build{build}

image:
  - Visual Studio 2017
  - Visual Studio 2015

install:
  - cinst -y nsis

matrix:
  fast_finish: false
  allow_failures:
    - platform: x86
      configuration: Release
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    - platform: x64
      configuration: Release
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    - platform: x86
      configuration: Release
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - platform: x64
      configuration: Release
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015

platform:
  - x64
  - x86

configuration:
  - Release

init:
  - cmd: >-
      set VS2017CMD="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat"

      if exist %VS2017CMD% call %VS2017CMD% %platform%

      REM Fixed tag version number if using a tag.

      if "%APPVEYOR_REPO_TAG%" == "true" set APPVEYOR_BUILD_VERSION=%APPVEYOR_REPO_TAG_NAME%

      REM vcbuild overwrites the platform variable.

      set ARCH=%platform%


build_script:
  - cmd: vcbuild.bat release %ARCH% shared

after_build:
  - '"%PROGRAMFILES(x86)%\NSIS\makensis" /DVERSION=%APPVEYOR_BUILD_VERSION% /DARCH=%ARCH% libuv.nsi'

artifacts:
  - name: Installer
    path: 'libuv-*.exe'
